<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoRisk_Manager">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.materiales.MaterialListaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.materiales.MaterialFormularioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.materiales.MaterialDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.hojas.HojaListaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.hojas.HojaFormularioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.hojas.HojaDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.proveedores.ProveedorListaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.proveedores.ProveedorFormularioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.proveedores.ProveedorDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.materialproveedor.MaterialProveedorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.incidentes.IncidenteListaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.incidentes.IncidenteFormularioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.incidentes.IncidenteDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.reportes.ReporteMenuActivity"
            android:exported="false" />

        <activity
            android:name=".ui.respaldo.RespaldoActivity"
            android:exported="false" />

    </application>

</manifest>